h1{
	font-weight: 300;
	font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
}
p{
	word-spacing: 5px;
	text-align: justify;
	line-height: 24px;
	font-family: sans-serif;
	text-indent: 24px;
}
ul li{
	list-style-type: none;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: blue;
}
a:active{
	color: fuchsia;
	background-color: lightgrey;
}
figure{
	border: solid 1px lightgrey;
	padding: 10px;
}

figcaption{
	padding: 5px;
	font-family: sans-serif;
}
.fr{
float: right;
}
